.slogo-background{
    background-color: #000000;
}

.slogo-margin-height{
    margin-bottom: 0.2rem;
    height: 17px;
}

.btn-nav,.btn-jumbo,.btn-console{
    border-radius: 20px;
}

.flex{
    display: flex;
}

.center-icon{
    align-self: center;
}

.icon-margin{
    margin-left: 1rem;
}

.jumbo-img{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-banner-width{
    width: 100%;
}

.jumbo-cont-margin{
    margin-top: 20rem;
}

.btn-jumbo{
    background-color: #cd3d0f;
}

.thumb-margin{
    margin-top: 2rem;
}

.thumb{
    width: 100%;
    border-radius: 15px;
}

.p-intro{
    text-align: center;
}

.p-intro p:first-of-type{
    color: #0072ce;
    margin-bottom: 0;
}

.p-intro p:last-of-type{
    margin-top: 1.5rem;
}

.console,.product{
    width: 100%;
}

.btn-console{
    background-color: #2d64e6;
}

.console-content{
    margin: auto;
}

.product-container{
    flex:0 0 auto;
    width: 20%; 
}

.product-container:hover{
    border-bottom: 1px solid #2d64e6;
}

.it2-img{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width :768px){
    .product-container{
        width: 33.33333%;
    }
}    