body{
    font-family: Arial, sans-serif;
}

main{
    padding-top: 90px;
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.console-container{
    padding: 0 2rem;
}

.slogo-background{
    background-color: #000000;
}

.slogo-margin-height{
    margin-bottom: 0.2rem;
    height: 17px;
}

.btn-nav,.btn-jumbo,.btn-console,.btn-ps-plus,.btn-ps-now{
    border-radius: 20px;
}

.flex{
    display: flex;
}

.center-icon{
    align-self: center;
}

.icon-margin{
    margin-left: 1rem;
}

.jumbo-img{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-banner-width{
    width: 100%;
}

.jumbo-cont-margin{
    margin-top: 20rem;
    padding-bottom: 2rem;
    color: white;
}

.ps5{
    margin-top: 3rem;
}

.btn-jumbo{
    background-color: #cd3d0f;
}

.thumb-margin{
    margin-top: 2rem;
}

.thumb{
    width: 100%;
    border-radius: 15px;
    padding: 2px;
    border: 2px solid white;
}

.p-intro{
    text-align: center;
}

.p-intro p:first-of-type{
    color: #0072ce;
    margin-bottom: 0;
}

.p-intro p:last-of-type{
    margin-top: 1.5rem;
}

.console,.product{
    width: 100%;
}

.products{
    margin-bottom: 3rem;
    padding: 0 2rem;
}

main .container-fluid>.row{
    padding: 0 2rem;
}

.btn-console{
    background-color: #2d64e6;
    color: white;
}

.console-content{
    margin: auto;
}

.product-container{
    flex:0 0 auto;
    width: 20%; 
    border-bottom: 2px solid white;
    filter: opacity(0.5);
}

.product-container:hover{
    border-bottom: 2px solid #2d64e6;
    filter: opacity(1);
}

.btn{
    color: white;
}

.thumb:hover{
    border: 2px solid #2d64e6;
}

.it2-img{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.it2-content{
    color: white;
    padding: 3rem 0;
}

.games img{
    width: 100%;
    border-radius: 15px;
}

.games{
    color: white;
    background-color: #1f1f1f;
}

.text-align{
    text-align: center;
}

.esplora img{
    width: 100%;
    padding: 3rem 2rem;
}


.esp-selector p:first-of-type{
    margin: 0;
}

.esplora-cont{
    margin-top: 3rem;
}

.ps-plus{
    background-color: #bebcbb;
}

.hide img{
    width: 100%;
}

.btn-ps-plus{
    color: #2d64e6;
    background-color: #d9dadc;
}

.ps-plus-logo{
    width: 60%;
}

.ps-plus-content{
    margin: auto;
}

.sconti img{
    width: 100%;
}

.sconti-cont{
    margin-top: 2rem;
}

.ps-now{
    color: white;
    background-color: #161c3b;
}

.btn-ps-now{
    color: black;
    background-color: white;
}

.social img{
    width: 100%;
}

.social-cont{
    margin-top: 2rem;
}

.social{
    margin-bottom: 2rem;
}

.ps-footer img{
    width: 100%;
}

footer{
    background-color: #00439c;
    color: white;
    padding: 2rem;
}

.globe{
    display: flex;
    margin: 2rem 0;
}

.globe img{
    width: 20px;
}

.globe p{
    margin: auto;
    margin-left: 0.5rem;
}

.link-footer ul{
    list-style-type: none;
}

.link-footer a{
    text-decoration: none;
    color: white;
}

.link-footer a:hover{
    font-weight: 600;
}

.copyright span{
    text-decoration: underline;
}

.text-grey p{
    color: grey;
}

footer ul{
    padding: 0;
}

@media(max-width :768px){
    .product-container{
        width: 33.33333%;
    }

    .hide{
        display: none;
    }
}   

